li {
  list-style: none;
}
.card {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 15px auto;
  text-align: center;
  font-family: arial;
}
.card-img {
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
button {
  text-align: center;
  width: 10%;
  align-self: center;
}

.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
